.title, .form, .links
{
	text-align: center;
}

label
{
	font-weight: bold;
	width: 35%;
	float: left;
	text-align: right;
}

input, select, textarea
{
	width: 30%;
	margin-left: 10px;
	float: left;
}

button
{
	float: center;
}